In [11]:
%pylab inline
import pandas
import seaborn
import numpy as np

Populating the interactive namespace from numpy and matplotlib

# Loading data

In [2]:
data = pandas.read_json('/Users/Home/Desktop/CMPT 459/projectDataset/train.json')

In [16]:
data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium
6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low
9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,[https://photos.renthop.com/2/7158677_c897a134...,3495,405 East 56th Street,medium
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,medium
15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,[https://photos.renthop.com/2/7225292_901f1984...,2795,340 East 34th Street,low

# missing/empty values in features

In [49]:
count = 0
for row in data.features:
    if not row:
        count += 1
print(count)

3218

# missing/empty values in building_id

In [99]:
count = 0
for row in data.building_id:
    if row == '0':
        count += 1
print(count)

8286

# missing/empty values in description

In [54]:
count = 0
for row in data.description:
    if row.isspace() or not row:
        count += 1
print(count)

3333

# missing/empty values in bathrooms

In [55]:
count = 0
for row in data.bathrooms:
    if not row:
        count += 1
print(count)

313

# missing/empty values in bedrooms

# you can have 0 bedrooms if you have a studio

In [95]:
count = 0
for row, desrow in zip(data.bedrooms, data.description):
#     desrow.lower()
    if not row and (("studio" not in desrow) and ("STUDIO" not in desrow) and ("Studio" not in desrow)) :
#         print(desrow)
        count += 1
print(count)

3149

# missing/empty values in created

In [112]:
count = 0
for row in data.created:
    if not row:
        count += 1
print(count)

0

# missing/empty values in display_address

In [101]:
count = 0
for row in data.display_address:
    if row.isspace() or not row:
        count += 1
print(count)

137

# missing/empty values in latitude

In [102]:
count = 0
for row in data.latitude:
    if not row:
        count += 1
print(count)

12

# missing/empty values in longitude

In [103]:
count = 0
for row in data.longitude:
    if not row:
        count += 1
print(count)

12

# missing/empty values in listing_id

In [104]:
count = 0
for row in data.listing_id:
    if not row:
        count += 1
print(count)

0

# missing/empty values in manager_id

In [105]:
count = 0
for row in data.manager_id:
    if not row:
        count += 1
print(count)

0

# missing/empty values in price

In [106]:
count = 0
for row in data.price:
    if not row:
        count += 1
print(count)

0

# missing/empty values in street_address

In [107]:
count = 0
for row in data.street_address:
    if row.isspace() or not row:
        count += 1
print(count)

10

# missing/empty values in interest_level

In [109]:
count = 0
for row in data.interest_level:
    if not row:
        count += 1
print(count)

0

# missing/empty values in photos

In [110]:
count = 0
for row in data.photos:
    if not row:
        count += 1
print(count)

3615