In [69]:
%pylab inline
import pandas as pd
import seaborn
import numpy as np
import matplotlib.pyplot as plt
import scipy
from sklearn.metrics.pairwise import manhattan_distances

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['unique']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [70]:
import sys
sys.path.append('/usr/local/lib/python3.7/site-packages')
import cv2

In [71]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

## TRAINING TIME!

In [72]:
# new_df.to_json('/Users/Home/Desktop/CMPT 459/MI2/train_fe.json')
train_df = pd.read_json(r'C:\Users\Giovanni PC\cmpt459\data\ml3\final_train_df_m3.json')

# new_df.to_json('/Users/Home/Desktop/CMPT 459/MI2/train_fe.json')
test_df = pd.read_json(r'C:\Users\Giovanni PC\cmpt459\data\final_test_df_m3.json')

In [26]:
train_df.head()
test_df.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,...,created_dt,managerID_count,buildingID_count,weekends,month_4,month_5,created_nights,created_morning,created_afternoon,bed_bath_ratio
0,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,...,1466056527000,107,5,0,0,0,1,0,0,1.0
1,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,...,1464759873000,26,51,0,0,0,1,0,0,2.0
2,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,...,1465917599000,93,71,0,0,0,0,0,1,2.0
3,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,...,1466754864000,90,3,1,0,0,0,1,0,2.0
4,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,...,1467085823000,55,86,0,0,0,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48324,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-19 03:31:53,There is 700 square feet of recently renovated...,W 171 Street,"[Elevator, Dishwasher, Hardwood Floors]",40.8433,6824800,-73.9396,...,1461036713000,10,5,0,1,0,1,0,0,3.0
48325,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-20 02:27:19,"2 bedroom apartment with updated kitchen, rece...",Broadway,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.8198,6813268,-73.9578,...,1461119239000,14,126,0,1,0,1,0,0,2.0
48326,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-02 03:03:42,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"[Dining Room, Elevator, Pre-War, Laundry in Bu...",40.5765,6927093,-73.9554,...,1459566222000,107,6,1,1,0,1,0,0,1.0
48327,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-06 18:15:06,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"[Pre-War, Laundry in Unit, Dishwasher, No Fee,...",40.7448,6892816,-74.0017,...,1459966506000,33,12,0,1,0,0,0,0,2.0
48328,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-22 02:55:58,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"[Dining Room, Elevator, Laundry in Building, D...",40.7594,6901023,-73.9712,...,1461293758000,102,50,1,1,0,1,0,0,3.0

In [27]:
train_df.describe()
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48329 entries, 0 to 48328
Data columns (total 46 columns):
bathrooms            48329 non-null float64
bedrooms             48329 non-null int64
building_id          48329 non-null object
created              48329 non-null object
description          48329 non-null object
display_address      48329 non-null object
features             48329 non-null object
latitude             48329 non-null float64
listing_id           48329 non-null int64
longitude            48329 non-null float64
manager_id           48329 non-null object
photos               48329 non-null object
price                48329 non-null int64
street_address       48329 non-null object
interest_level       48329 non-null object
dt_distance          48329 non-null float64
pet_policy           48329 non-null int64
listing_type         48329 non-null int64
unit_features        48329 non-null int64
building_features    48329 non-null int64
apartment            48329 non-null float64
appliance            48329 non-null float64
bathroom             48329 non-null float64
bedroom              48329 non-null float64
building             48329 non-null float64
contact              48329 non-null float64
floor                48329 non-null float64
high                 48329 non-null float64
kitchen              48329 non-null float64
room                 48329 non-null float64
mall_distance        48329 non-null float64
created_hour         48329 non-null int64
created_month        48329 non-null int64
created_day          48329 non-null int64
num_photos           48329 non-null int64
description_len      48329 non-null int64
created_dt           48329 non-null int64
managerID_count      48329 non-null int64
buildingID_count     48329 non-null int64
weekends             48329 non-null int64
month_4              48329 non-null int64
month_5              48329 non-null int64
created_nights       48329 non-null int64
created_morning      48329 non-null int64
created_afternoon    48329 non-null int64
bed_bath_ratio       48329 non-null float64
dtypes: float64(16), int64(21), object(9)
memory usage: 17.3+ MB

In [73]:
unique, counts = np.unique(train_df.manager_id, return_counts=True)

id_dict = np.asarray((unique,counts)).T
id_dict

array([['0000abd7518b94c35a90d64b56fbf3e6', 12],
       ['001ce808ce1720e24a9510e014c69707', 10],
       ['003fc4e9a70053082f131b1054966aaf', 1],
       ...,
       ['ffb9eceeaa4d60da7b41cc8f0954cd50', 2],
       ['ffd3c60281949a5cd806030203a79558', 6],
       ['ffd7307e4924587b30ec014a95db1362', 115]], dtype=object)

In [74]:
id_dic = {}
for val in id_dict:
    id_dic[val[0]] = val[1]

In [75]:
max(id_dic.values())

2471

In [76]:
v1_selected_feats = ["bathrooms", "bedrooms", "latitude", "longitude", "price", "pet_policy", "listing_type", 
                     "unit_features", "building_features", "apartment", "appliance", "bathroom", "bedroom",
                     "building", "contact", "floor", "high", "kitchen", "room", "num_photos", 
                     "description_len", "mall_distance", "dt_distance"]

In [77]:
X = train_df[v1_selected_feats]
y = train_df["interest_level"]

In [78]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier

In [79]:
scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(X)

In [80]:
X

array([[0.1       , 0.125     , 0.27075252, ..., 0.11411411, 0.19559873,
        0.1097247 ],
       [0.1       , 0.25      , 0.34930178, ..., 0.1951952 , 0.05667761,
        0.11368588],
       [0.1       , 0.25      , 0.36132661, ..., 0.17717718, 0.07044386,
        0.14517726],
       ...,
       [0.1       , 0.125     , 0.01027929, ..., 0.12012012, 0.36704753,
        0.37274708],
       [0.1       , 0.25      , 0.33669511, ..., 0.17567568, 0.02552656,
        0.04634581],
       [0.1       , 0.375     , 0.36501164, ..., 0.08558559, 0.03237035,
        0.13170925]])

In [81]:
#Train for decision Tree
test_scores = []
train_scores = []
log_scores = []
log_scores_train = []

min_sample_arr = [1, 50, 100, 200, 500] 

i = 0
cv = KFold(n_splits=5, random_state=42, shuffle=True)
for train_index, test_index in cv.split(X):
    #min samples default 2, min samples leaf default =1. min weight frac =0 , max feat = 4
    rfc  = RandomForestClassifier(n_estimators = 100, criterion = "gini", max_leaf_nodes = 4, max_features='auto', random_state=0, min_samples_leaf=1, min_samples_split = 2)
    i += 1
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], y.iloc[train_index], y.iloc[test_index]
    rfc.fit(X_train, y_train)
    test_scores.append(rfc.score(X_test, y_test))
    train_scores.append(rfc.score(X_train, y_train))
    y_test_pred = rfc.predict_proba(X_test)
    y_train_pred = rfc.predict_proba(X_train)
    log_scores.append(log_loss(y_test, y_test_pred))
    log_scores_train.append(log_loss(y_train, y_train_pred))
    
    #when the min sample change, there is pverfitting for small values,
    #as the calues grow, the training set does progressively worse in comparison to the test 
    # use 50 as the number

In [82]:
log_scores

[0.7433498727383955,
 0.7437944579951052,
 0.7454356471530916,
 0.7563410252505085,
 0.7424130131487622]

In [83]:
log_scores_train

[0.7465511564118881,
 0.7466381089869191,
 0.7463127049513092,
 0.7422223159818396,
 0.7467515889480466]

In [84]:
y_train_pred

array([[0.09514738, 0.63270366, 0.27214896],
       [0.0688304 , 0.68772551, 0.24344409],
       [0.07310354, 0.69754842, 0.22934805],
       ...,
       [0.09778623, 0.64811341, 0.25410036],
       [0.07213606, 0.67593527, 0.25192867],
       [0.07160578, 0.6789583 , 0.24943592]])

In [85]:
labels2idx = {label: i for i, label in enumerate(rfc.classes_)}
labels2idx

{'high': 0, 'low': 1, 'medium': 2}

In [86]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33)

In [87]:
rfc_test  = RandomForestClassifier(n_estimators = 100, criterion = "gini", min_weight_fraction_leaf = 0.2, max_leaf_nodes = 4, min_samples_split = 5, max_features='sqrt', random_state=0, min_samples_leaf=200, max_depth=10)
rfc_test.fit(X_train, y_train)
y_val_pred = rfc_test.predict_proba(X_val)
log_loss(y_val, y_val_pred)

0.7849591576508108

In [88]:
test_X = test_df[v1_selected_feats]

In [89]:
test_X = scaler.fit_transform(test_X)

In [90]:
test_y = rfc_test.predict_proba(test_X)

In [91]:
labels2idx = {label: i for i, label in enumerate(rfc_test.classes_)}
labels2idx

{'high': 0, 'low': 1, 'medium': 2}

In [92]:
sub = pd.DataFrame()
sub["listing_id"] = test_df["listing_id"]
for label in ["high", "medium", "low"]:
    sub[label] = test_y[:, labels2idx[label]]
sub.to_csv(r"C:\Users\Giovanni PC\cmpt459\data\submission_m3_rf_v1.csv", index=False)