In [64]:
%pylab inline
import pandas as pd
import seaborn
import numpy as np
import matplotlib.pyplot as plt
import scipy
from sklearn.metrics.pairwise import manhattan_distances

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['unique']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [65]:
import sys
sys.path.append('/usr/local/lib/python3.7/site-packages')
import cv2

In [66]:
# from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

## TRAINING TIME!

In [67]:
# new_df.to_json('/Users/Home/Desktop/CMPT 459/MI2/train_fe.json')
train_df = pd.read_json(r'C:\Users\Giovanni PC\cmpt459\data\ml3\final_train_df_m3_v2.json')
# new_df.to_json('/Users/Home/Desktop/CMPT 459/MI2/train_fe.json')
test_df = pd.read_json(r'C:\Users\Giovanni PC\cmpt459\data\final_test_df_m3_v2.json')

In [68]:
train_df

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,...,low_frac,medium_frac,count,manager_skill,high_frac_b,low_frac_b,medium_frac_b,bi_count,building_interest,int_level
0,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,...,0.542056,0.411215,107,0.504673,0.076139,0.679429,0.244432,5,0.396710,1
1,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,...,0.346154,0.615385,26,0.692308,0.058824,0.529412,0.411765,51,0.535294,2
2,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,...,0.763441,0.204301,93,0.268817,0.028169,0.619718,0.352113,71,0.374648,1
3,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,...,0.744444,0.255556,90,0.255556,0.076139,0.679429,0.244432,3,0.396710,1
4,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,...,0.854545,0.145455,55,0.145455,0.034884,0.779070,0.186047,86,0.212791,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48324,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-19 03:31:53,There is 700 square feet of recently renovated...,W 171 Street,"[Elevator, Dishwasher, Hardwood Floors]",40.8433,6824800,-73.9396,...,0.679429,0.244432,10,0.396710,0.076139,0.679429,0.244432,5,0.396710,2
48325,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-20 02:27:19,"2 bedroom apartment with updated kitchen, rece...",Broadway,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.8198,6813268,-73.9578,...,0.679429,0.244432,14,0.396710,0.198413,0.436508,0.365079,126,0.916667,1
48326,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-02 03:03:42,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"[Dining Room, Elevator, Pre-War, Laundry in Bu...",40.5765,6927093,-73.9554,...,0.542056,0.411215,107,0.504673,0.076139,0.679429,0.244432,6,0.396710,1
48327,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-06 18:15:06,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"[Pre-War, Laundry in Unit, Dishwasher, No Fee,...",40.7448,6892816,-74.0017,...,0.636364,0.303030,33,0.424242,0.000000,0.666667,0.333333,12,0.266667,1
48328,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-22 02:55:58,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"[Dining Room, Elevator, Laundry in Building, D...",40.7594,6901023,-73.9712,...,0.186275,0.500000,102,1.127451,0.120000,0.520000,0.360000,50,0.668000,0

In [69]:
train_df.describe()
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48329 entries, 0 to 48328
Data columns (total 56 columns):
bathrooms            48329 non-null float64
bedrooms             48329 non-null int64
building_id          48329 non-null object
created              48329 non-null object
description          48329 non-null object
display_address      48329 non-null object
features             48329 non-null object
latitude             48329 non-null float64
listing_id           48329 non-null int64
longitude            48329 non-null float64
manager_id           48329 non-null object
photos               48329 non-null object
price                48329 non-null int64
street_address       48329 non-null object
interest_level       48329 non-null object
dt_distance          48329 non-null float64
pet_policy           48329 non-null int64
listing_type         48329 non-null int64
unit_features        48329 non-null int64
building_features    48329 non-null int64
apartment            48329 non-null float64
appliance            48329 non-null float64
bathroom             48329 non-null float64
bedroom              48329 non-null float64
building             48329 non-null float64
contact              48329 non-null float64
floor                48329 non-null float64
high                 48329 non-null float64
kitchen              48329 non-null float64
room                 48329 non-null float64
mall_distance        48329 non-null float64
created_hour         48329 non-null int64
created_month        48329 non-null int64
created_day          48329 non-null int64
num_photos           48329 non-null int64
description_len      48329 non-null int64
created_dt           48329 non-null int64
managerID_count      48329 non-null int64
buildingID_count     48329 non-null int64
weekends             48329 non-null int64
month_4              48329 non-null int64
month_5              48329 non-null int64
created_nights       48329 non-null int64
created_morning      48329 non-null int64
created_afternoon    48329 non-null int64
high_frac            48329 non-null float64
low_frac             48329 non-null float64
medium_frac          48329 non-null float64
count                48329 non-null int64
manager_skill        48329 non-null float64
high_frac_b          48329 non-null float64
low_frac_b           48329 non-null float64
medium_frac_b        48329 non-null float64
bi_count             48329 non-null int64
building_interest    48329 non-null float64
int_level            48329 non-null int64
dtypes: float64(23), int64(24), object(9)
memory usage: 21.0+ MB

In [70]:
unique, counts = np.unique(train_df.manager_id, return_counts=True)

id_dict = np.asarray((unique,counts)).T
id_dict

array([['0000abd7518b94c35a90d64b56fbf3e6', 12],
       ['001ce808ce1720e24a9510e014c69707', 10],
       ['003fc4e9a70053082f131b1054966aaf', 1],
       ...,
       ['ffb9eceeaa4d60da7b41cc8f0954cd50', 2],
       ['ffd3c60281949a5cd806030203a79558', 6],
       ['ffd7307e4924587b30ec014a95db1362', 115]], dtype=object)

In [71]:
id_dic = {}
for val in id_dict:
    id_dic[val[0]] = val[1]

In [72]:


max(id_dic.values())

2471

In [73]:
train_df["pos"] = train_df.longitude.round(3).astype(str) + '' + train_df.latitude.round(3).astype(str)
test_df["pos"] = test_df.longitude.round(3).astype(str) + '' + test_df.latitude.round(3).astype(str)

vals = train_df['pos'].value_counts()
dvals = vals.to_dict()
train_df["density"] = train_df['pos'].apply(lambda x: dvals.get(x, vals.min()))
test_df["density"] = test_df['pos'].apply(lambda x: dvals.get(x, vals.min()))

In [74]:
## TO UPDATE
v2_selected_feats = ["bathrooms", "bedrooms", "latitude", "longitude", "price", "pet_policy", "listing_type", 
                     "unit_features", "building_features", "apartment", "appliance", "bathroom", "bedroom",
                     "building", "contact", "floor", "high", "kitchen", "room", "num_photos", 
                     "description_len", "mall_distance", "dt_distance", "managerID_count", "buildingID_count", 
                    "weekends", "month_4", "month_5", "created_nights","created_morning", "created_afternoon", 
                     "manager_skill", "building_interest", "density"]

In [75]:
X = train_df[v2_selected_feats]
y = train_df["interest_level"]

In [76]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [77]:
scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(X)

In [78]:
X

array([[0.1       , 0.125     , 0.27075252, ..., 0.32003647, 0.20208747,
        0.01162791],
       [0.1       , 0.25      , 0.34930178, ..., 0.43902439, 0.25847084,
        0.18023256],
       [0.1       , 0.25      , 0.36132661, ..., 0.17046945, 0.19311156,
        0.18313953],
       ...,
       [0.1       , 0.125     , 0.01027929, ..., 0.32003647, 0.20208747,
        0.08430233],
       [0.1       , 0.25      , 0.33669511, ..., 0.26903178, 0.14917916,
        0.04360465],
       [0.1       , 0.375     , 0.36501164, ..., 0.71496891, 0.31246253,
        0.12790698]])

In [79]:
#Train for decision Tree
test_scores = []
train_scores = []
log_scores = []
log_scores_train = []

min_leaf_sample_arr = [1, 50, 100, 200, 500] 
n_estimators_arr = [100, 250, 500, 750, 1000] 

i = 0
cv = KFold(n_splits=5, random_state=42, shuffle=True)
for train_index, test_index in cv.split(X):
    #min samples default 2, min samples leaf default =1. min weight frac =0 , max feat = 4 
    # change max depth, nest, criterion,  min_weight_fraction_leaf = 0.2, 
    # orig: n_estimators = 100, criterion = "gini", max_leaf_nodes = 4, max_features='auto', random_state=0, min_samples_leaf=1, min_samples_split = 2
    rfc  = RandomForestClassifier(n_estimators = n_estimators_arr[i],max_leaf_nodes = 20, max_features='sqrt', random_state=0, min_samples_leaf=min_leaf_sample_arr[i], min_samples_split = 5) # max_depth=10, )
    i += 1
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], y.iloc[train_index], y.iloc[test_index]
    rfc.fit(X_train, y_train)
    test_scores.append(rfc.score(X_test, y_test))
    train_scores.append(rfc.score(X_train, y_train))
    y_test_pred = rfc.predict_proba(X_test)
    y_train_pred = rfc.predict_proba(X_train)
    log_scores.append(log_loss(y_test, y_test_pred))
    log_scores_train.append(log_loss(y_train, y_train_pred))
    
    #when the min sample change, there is pverfitting for small values,
    #as the calues grow, the training set does progressively worse in comparison to the test 
    # use 50 as the number

In [80]:
log_scores

[0.6411221843558614,
 0.6404210476778414,
 0.6409692858995667,
 0.6517529326762964,
 0.6408103391342175]

In [81]:
log_scores_train

[0.6400077796102539,
 0.6387097774004026,
 0.6377005720361435,
 0.6379686932423048,
 0.6427182413844122]

In [82]:
y_train_pred

array([[0.13204644, 0.50281522, 0.36513834],
       [0.1289781 , 0.48892226, 0.38209964],
       [0.07283272, 0.66513172, 0.26203556],
       ...,
       [0.13054582, 0.54942129, 0.32003288],
       [0.06271133, 0.66446377, 0.2728249 ],
       [0.16164338, 0.43817217, 0.40018444]])

In [83]:
labels2idx = {label: i for i, label in enumerate(rfc.classes_)}
labels2idx

{'high': 0, 'low': 1, 'medium': 2}

In [84]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33)

In [97]:
rfc_test  = RandomForestClassifier(n_estimators = 1000,max_leaf_nodes = 20, max_features='sqrt', random_state=0, min_samples_leaf=500, min_samples_split = 5)
rfc_test.fit(X_train, y_train)
y_val_pred = rfc_test.predict_proba(X_val)
log_loss(y_val, y_val_pred)

0.6493232100193669

In [87]:
test_X = test_df[v2_selected_feats]

In [88]:
test_X = scaler.fit_transform(test_X)

In [90]:
test_y = rfc_test.predict_proba(test_X)

In [91]:
labels2idx = {label: i for i, label in enumerate(rfc_test.classes_)}
labels2idx

{'high': 0, 'low': 1, 'medium': 2}

In [92]:
sub = pd.DataFrame()
sub["listing_id"] = test_df["listing_id"]
for label in ["high", "medium", "low"]:
    sub[label] = test_y[:, labels2idx[label]]
sub.to_csv(r"C:\Users\Giovanni PC\cmpt459\data\submission_m3_rf_v2.csv", index=False)